@import'../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import'../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import 'config';
nav{  
    padding: 3em 0;
    max-width: 1440px;
    margin: auto    
}
.navbar{
    display: flex;
    li{
        margin-left: 2em;
    }
    a{
        color: $Very-dark-blue;
        transition: all .5s;
    }
    a:hover{
        color: $Soft-red;
    }
}
.menu-btn{
    display:  none;
}
.sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    padding: 2em 2em;
    height: 100%;
    z-index: 99999;
    transform: translate(100%);
    transition: all 1s;
    display: none;
}
.show-sidebar{
    transform: translate(0);
}
.sidebar-menu li{
    font-size: 20px;
    margin-bottom: 2em;
    a{
        color: $Very-dark-blue;
    }
}
.close-btn{
    position: absolute;
    right: 20px;
}
.btn{
   border: none;
   background-color: $Soft-red;
   color: $Off-white;
   padding: 1em 2em;
   letter-spacing: 2px;
   margin-top: 4em;
}
@media (max-width:992px) {
    .navbar{
        display: none;
    }
    .menu-btn{
        display:  block;
    }
    .sidebar{
        display: block;
    }

}

